.idea/
# =========================
# .NET / Visual Studio
# =========================
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.log

# =========================
# Rider / VS Code
# =========================
.idea/
.vscode/

# =========================
# SQLite 
# =========================
*.db
*.db-shm
*.db-wal

# =========================
# Configurações locais
# =========================
appsettings.Development.json

# =========================
# OS
# =========================
Thumbs.db
.DS_Store
